In [1]:
import pandas


yahoo_view = pandas.read_csv('data_yahoo.csv')


print(yahoo_view.head())

         Date       Open       High        Low      Close  Adj Close  Volume
0  2023-01-02  87.157700  88.400002  87.157700  88.482002  88.482002       0
1  2023-01-03  88.292000  88.313004  87.225998  88.300003  88.300003       0
2  2023-01-04  87.219002  87.922997  87.219002  87.219002  87.219002       0
3  2023-01-05  87.580002  87.807999  86.757004  87.605003  87.605003       0
4  2023-01-06  86.819000  87.614998  86.647003  86.827003  86.827003       0

In [2]:
yahoo_view

           Date       Open       High        Low      Close  Adj Close  Volume
0    2023-01-02  87.157700  88.400002  87.157700  88.482002  88.482002       0
1    2023-01-03  88.292000  88.313004  87.225998  88.300003  88.300003       0
2    2023-01-04  87.219002  87.922997  87.219002  87.219002  87.219002       0
3    2023-01-05  87.580002  87.807999  86.757004  87.605003  87.605003       0
4    2023-01-06  86.819000  87.614998  86.647003  86.827003  86.827003       0
..          ...        ...        ...        ...        ...        ...     ...
290  2024-02-12  88.418404  89.594002  88.418404  89.444000  89.444000       0
291  2024-02-13  89.358002  89.511002  88.843002  89.309998  89.309998       0
292  2024-02-14  88.862000  89.032997  88.733002  88.862000  88.862000       0
293  2024-02-15  88.987000  89.440002  88.930000  89.036003  89.036003       0
294  2024-02-16  89.347000  89.411003  89.046997  89.357002  89.357002       0

[295 rows x 7 columns]

In [7]:
import matplotlib.pyplot as pp

%matplotlib inline